<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>The total Number of Users Are : <%= count%></h2>
    <form method="get" action="/user/new">
        <button>Join us Now</button>
    </form>
</body>
</html>